@import "fonts.css";

table{
    font-family: AdobeInvisFont, Arimo, Courier, sans-serif;
    color: #6f6f6f;
    font-size: 16px;
    border: 24px solid #3a4965;
    margin: 0 auto;
}

.table-row {
    height: 70px;
}

.table-data {
    border-right: 2px solid #e0e0e0;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 277px;
    text-align: center;
    vertical-align: middle;
}

.top-left-cell {
    width: 310px;
    font-family: AdobeInvisFont, Arimo-Bold, Courier, sans-serif;
    color: #484848;

}
.side-header {
    font-family: AdobeInvisFont, Arimo-Bold, Courier, sans-serif;
    font-size: 24px;
    color: white;
    border: none;

}

.mid-header {
    font-family: AdobeInvisFont, Arimo-Bold, Courier, sans-serif;
    font-size: 30px;
    color: white;
    border: none;
}

.first-price {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 49%;
    float: left;
    font-family: AdobeInvisFont, Arimo-Bold, Courier, sans-serif;
    font-size: 60px;
    color: #484848;
}

.second-price {
    float: left;
    margin-top: 6px;
    font-family: AdobeInvisFont, Arimo-Bold, Courier, sans-serif;
    text-align: left;
    font-size: 24px;
    color: #484848;
}

.month {
    float: left;
    font-size: 18px;
}

.button-link {
    padding: 19px 57px 17px 58px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.table-data.clearfix {
    height: 86px;
}

.button-link.bg-dark:hover {
    background-image: linear-gradient(to right, #484848 0%, #fda085 51%, #484848 100%);
}

.button-link.bg-green:hover {
    background: linear-gradient(to right, #89c331 0%, #fda085 51%, #89c331 100%);
}

.button-link.bg-pink:hover {
    background-image: linear-gradient(to right, #f04a56 0%, #fda085 51%, #f04a56 100%);
}

.button-link.bg-teal:hover {
    background-image: linear-gradient(to right, #20807c 0%, #fda085 51%, #20807c 100%);
}


.table-row .last-row {
    height: 110px;
}

.bg-grey {
    background-color: #e3e3e3;
}

.bg-dark-grey {
    background-color: #dddddd;
}

.bg-green {
    background-color: #89c331;
}

.bg-pink {
    background-color: #f04a56;
}

.bg-teal {
    background-color: #20807c;
}

.bg-dark {
    background-color: #484848;
}

.bg-not-white {
    background-color: #f2f2f2;
}

.f-size-30 {
    font-size: 30px;
}

.f-size-18 {
    font-size: 18px;
}


.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
